
[Desktop Entry]
Encoding=UTF-8
Name=Link to DropTools: Use and distribute custom controls easily
Type=Link
URL=http://droptools.sonsothunder.com/
Icon=gnome-fs-bookmark
Name[en_US]=DropTools Web Site
